
@{
    ViewData["Title"] = "Dashboards";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<div class="row">
    @await Component.InvokeAsync("_AuthorDashboardChartComponentPartial")

    @await Component.InvokeAsync("_AuthorDashboardProductPerformanceComponentPartial")

    @await Component.InvokeAsync("_AuthorDashboardRecentCommentsComponentPartial")

</div>

