
@{
    ViewData["Title"] = "GetProfile";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<h1>Profil Bilgileri</h1>

<h3>Hoş geldiniz @ViewBag.name @ViewBag.surname</h3>
<h4>Id: @ViewBag.id</h4>

